<div class="github-email-container">

    <div class="github-email-buttons">
        <div class="blue-line"></div>
        <a href="https://github.com/KevinFunck" target="_blank">
            <img src="assets/img/github.png">
        </a>
        <a href="mailto: kevin.funck@web.de" target="_blank">
            <img src="assets/img/mail.png">
        </a>
        <a href="https://www.linkedin.com/in/kevin-funck-8a7057278/" target="_blank">
            <img src="assets/img/linkedin.png" target="_blank">
        </a>
        <span class="my-email">kevin.funck@ web.de</span>
    </div>

    <div class="scroll-down-alert">
        <div class="scroll-down-text">Scroll down</div> 
        <img class="arrowAnimation" src="assets/img/arrow.png "> 
    </div>
</div>
