.contactForm {
    position: relative;
    margin-bottom: 100px;
    padding-left: 102px;
    padding-right: 102px;
    padding-top: 80px;
    overflow: hidden;
    z-index: 5;
    
    h2 {
        font-size: 80px;
        font-weight: 600;
        color: white;
        line-height: 1;
        margin-top: 100px;
        font-family: 'Poppins', sans-serif;
    }

    .formBlock {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 80px;
        position: relative;

        .text {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .topLine {
                font-size: 25px;
                font-weight: 500;
            }

            span {
                color: white;
                font-family: 'Poppins', sans-serif;
            }

        }

        .formArea {
            display: flex;
            max-width: 50%;
            display: flex;
            justify-content: center;
            position: relative;
           
          

            input {
                width: clamp(400px, 40%, 400px);
                text-align: center;
                height: 30px;
                border: 1px solid #4B47FF;
                border-radius: 10px;
                background-color: #141D2F;
                color: white;
                font-family: 'Poppins', sans-serif;
                &:hover {
                    border: 1px solid #00BEE8;
                }

            }


            textarea {
                border: 1px solid #4B47FF;
                text-align: center;
                border-radius: 10px;
                width: clamp(400px, 40%, 400px);
                height: 150px;
                background-color: #141D2F;
                color: white;
                font-family: 'Poppins', sans-serif;

                &:hover {
                    border: 1px solid #00BEE8;
                }
            }

            #btn {
                height: 60px;
                width: 200px;
                border: 1px solid #00BEE8;
                border-radius: 10px;
                background-color: white;
                color: black;
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;
                transition: all 125ms ease-out;
                transform: scale(1);
                font-family: 'Poppins', sans-serif;
                margin-bottom: 10px;

                &:hover {
                    transition: all 125ms ease-out;
                    transform: scale(1.1);
                    background: -webkit-linear-gradient(0deg, #184aff 0%, rgba(66, 139, 255, 0.84) 100%);
                    background: linear-gradient(-50deg, #184aff 0%, rgba(66, 139, 255, 0.84) 100%);
                    border: #184aff;
                    color: white;
                }
            }

            .btn-blue {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 300px;
                border-radius: 10px;
                font-size: 20px;
                font-weight: 500;
                background: -webkit-linear-gradient(0deg, #184aff 0%, rgba(66, 139, 255, 0.84) 100%);
                border: #184aff;
                color: white;
                font-family: 'Poppins', sans-serif;
            }

            .d-none {
                display: none;
            }
        }
    }
}

.blue-shadow {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 400px;
    left: -100px;
}

.center {
    align-items: center;
}

.title-line {
    display: flex;
    align-items: center;
}

.blue-line {
    width: 60px;
    height: 5px;
    background-color: #4B47FF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    margin-top: 30px;
    left: 0px;
}

@media (max-width: 700px) {

    .contactForm {
        padding-right: 15px !important;
        padding-left: 10px !important;
        padding-top: 20px !important;

        .title-line {
            display: flex;
            justify-content: center;
        }

        h2 {
            font-size: 48px;
        }

        span {
            text-align: center !important;
        }

        .blue-line {
            position: absolute;
            width: 40px;
            top: 110px;  
        }

        .formBlock {
            flex-direction: column;
            align-items: center;
            gap: 50px;

            .formArea {
                width: 80%;

                input {
                    width: 80vw;
                }

                textarea {
                    width: 80vw;
                }
            }
        }
        
    }
}

@media (max-width: 1160px) {
    .imgBg1 {
        display: none;
    }
}

@media (max-width: 2000px) {
    .input {
        width: 20vh;
    }
}

@media (max-width: 280px) {

    .blue-line {
        display: none;
    }

}

.imgBg1 {
    position: absolute;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    top: 530%;
    left: 18%;
    z-index: 0;
    background: #184aff;
    background: -webkit-linear-gradient(0deg, #184aff 0%, rgba(66, 139, 255, 0.84) 100%);
    background: linear-gradient(-50deg, #184aff 0%, rgba(66, 139, 255, 0.84) 100%);
}
