<div class="contactForm" id="contact">
    <div class="title-line">
        <div class="blue-line"></div>
        <h2>Contact</h2>
    </div>
    <div class="formBlock">
        <div class="text">
            <span class="topLine">Got a problem to solve?</span>
            <span>Contact me through this form, I am interested in hearing from you, getting to know your ideas and
                contributing to
                your projects with my work.</span>
            <span>Need a frontend developer? <b>Contact me!</b></span>
        </div>
        <div data-aos="flip-right" class="formArea">
            <form ngNativeValidate class="text center" (submit)="sendMail()" #myForm>
                <input type="text" required placeholder="Your name" name="name" #nameField>
                <input type="email" required placeholder="Your email" name="email" #emailField>
                <textarea placeholder="Your message" required name="message" #messageField cols="30" rows="10"
                    ></textarea>
                <button  type="submit" id="btn">Say hello</button>
                <div id="thanksMail" class="btn-blue d-none">Thank`s for your mail</div>
            </form>
        </div>
    </div>

</div>