<div data-aos="flip-right" class="sharkie-container">
   
    <div class="sharkie-description">
        <div class="sharkie-text">
            <h3>Sharkie</h3>
            <p>Javascript | HTML | CSS </p>
            <span>A simple game based on an object-oriented approach. 
                Help Sharkie to find coins and poison bottles to fight against the killer whale.</span>
        </div>
        <div class="buttons">
            <a href="https://kevinfunck.de/sharkie" target="_blank">
                <button class="live-test-btn">Live test</button>
            </a>

            <a href="https://github.com/KevinFunck/Sharkie" target="_blank">
                <button class="github-btn">Github</button>
            </a>
        </div>
    </div>

    <div class="sharkie-screens">
        <img src="assets/img/sharkie.png">
    </div>
</div>


