<div data-aos="flip-left" class="join-container">
    <div class="join-screens">
        <img src="assets\img\join.png">
    </div>

    <div class="join-description">
        <div class="join-text">
            <h3>Join</h3>
            <p>Javascript | HTML | CSS </p>
            <span>To-do list or taskmanagmente application inspired by the Kanban System. Create and organize tasks
                using drag and drop functions, assign users and categories.</span>
        </div>
        <div class="buttons">
            <a href="https://kevinfunck.de/join-main/login.html" target="_blank">
                <button class="live-test-btn">Live test</button>
            </a>

            <a href="https://github.com/KevinFunck/Join" target="_blank">
                <button class="github-btn">Github</button>
            </a>
        </div>
    </div>

</div>